# EDA


- The os module has a perfect method to list files in a directory.
- Pandas json normalize could work here but is not necessary to convert the JSON data to a dataframe.
- You may need a nested for-loop to access each sale!
- We've put a lot of time into creating the structure of this repository, and it's a good example for future projects.  In the file functions_variables.py, there is an example function that you can import and use.  If you have any variables, functions or classes that you want to make, they can be put in the functions_variables.py file and imported into a notebook.  Note that only .py files can be imported into a notebook. If you want to import everything from a .py file, you can use the following:
```python
from functions_variables import *
```
If you just import functions_variables, then each object from the file will need to be prepended with "functions_variables"\
Using this .py file will keep your notebooks very organized and make it easier to reuse code between notebooks.

In [2]:
# (this is not an exhaustive list of libraries)
import pandas as pd
import numpy as np
import os
import json
import re
from pprint import pprint
from functions_variables import encode_tags
from functions_variables import encode_primary_photo
from functions_variables import encode_source
from functions_variables import extract_city_state

## Data Importing

In [ ]:
# Directory containing JSON files on personal computer
## Might need to change before final commit
directory = r"C:\Users\lai29\OneDrive - UBC\Documents\GitHub\Midterm-project\data"

# Initialize an empty list to store data
data_list = []

# # Function to flatten nested JSON columns 

'''
Creation of a function that would flatten several columns - is this necessary? 
The columns information looks to be info that would be unnecessary and can be dropped from the data.
'''
# def flatten_json(record):
#     flat_record = record.copy()

#     # Flatten description
#     if "description" in record and isinstance(record["description"], dict):
#         flat_record.update(record["description"])
#         del flat_record["description"]

#     # Flatten location
#     if "location" in record and isinstance(record["location"], dict):
#         if "address" in record and isinstance(record["location"]["address"], dict):
#             flat_record.update(record["location"]["address"])
#         if "coordinate" in record and isinstance(record["location"]["coordinate"], dict):
#             flat_record["latitude"] = record["location"]["coordinate"].get("lat")
#             flat_record["longitude"] = record["location"]["coordinate"].get("lon")
#         del flat_record["location"]

#     # Flatten products (dictionary)
#     if "products" in record and isinstance(record["products"], dict):
#         flat_record.update(pd.json_normalize(record["products"]).to_dict(orient="records")[0])
#         del flat_record["products"]

#     return flat_record

# Loop through each JSON file in the directory
for filename in os.listdir(directory):
    if filename.endswith(".json"):
        file_path = os.path.join(directory, filename)
        try:
            with open(file_path, "r", encoding="utf-8") as file:
                data = json.load(file)  # Load JSON data

            # Check if expected keys exist before accessing them
            if isinstance(data, dict) and "data" in data and isinstance(data["data"], dict) and "results" in data["data"]:
                for record in data["data"]["results"]:
                    if isinstance(record, dict):  # Ensure record is a dictionary before processing
                        flat_record = flatten_json(record)
                        data_list.append(flat_record)

        except json.JSONDecodeError as e:
            print(f"Error decoding JSON in file {filename}: {e}")
# Convert list of dictionaries into a DataFrame
df_combined = pd.DataFrame(data_list)

# Display or save the combined DataFrame
print(df_combined.head())  # View first few rows
df_combined.to_csv("combined_data.csv", index=False)

                                       primary_photo      last_update_date  \
0  {'href': 'https://ap.rdcpix.com/07097d34c98a59...  2023-09-19T20:52:50Z
1                                               None                  None
2                                               None                  None
3                                               None                  None
4                                               None                  None

                                              source  \
0  {'plan_id': None, 'agents': [{'office_name': '...
1                                               None
2                                               None
3                                               None
4                                               None

                                                tags  \
0  carport, community_outdoor_space, cul_de_sac, ...
1                                               None
2                                               None
3                                               None
4                                               None

                                           permalink status  \
0       9453-Herbert-Pl_Juneau_AK_99801_M90744-30767   sold
1  8477-Thunder-Mountain-Rd_Juneau_AK_99801_M9424...   sold
2      4515-Glacier-Hwy_Juneau_AK_99801_M94790-68516   sold
3  17850-Point-Stephens-Rd_Juneau_AK_99801_M98793...   sold
4  9951-Stephen-Richards-Memorial-Dr_Juneau_AK_99...   sold

                     list_date open_houses  \
0  2023-06-29T21:16:25.000000Z        None
1                         None        None
2                         None        None
3                         None        None
4                         None        None

                                            branding  list_price  ...    sqft  \
0  [{'name': 'EXP Realty LLC - Southeast Alaska',...    554950.0  ...  1821.0
1  [{'name': None, 'photo': None, 'type': 'Office'}]         NaN  ...     NaN
2  [{'name': None, 'photo': None, 'type': 'Office'}]         NaN  ...     NaN
3  [{'name': None, 'photo': None, 'type': 'Office'}]         NaN  ...     NaN
4  [{'name': None, 'photo': None, 'type': 'Office'}]         NaN  ...     NaN

  baths sub_type baths_1qtr garage stories beds           type    brand_name  \
0   2.0     None       None    1.0     NaN  3.0  single_family  basic_opt_in
1   NaN     None       None    NaN     NaN  NaN           None           NaN
2   NaN     None       None    NaN     NaN  NaN           None           NaN
3   NaN     None       None    NaN     NaN  NaN           None           NaN
4   NaN     None       None    NaN     NaN  NaN           None           NaN

   products
0       NaN
1       NaN
2       NaN
3       NaN
4       NaN

[5 rows x 38 columns]

In [4]:
df_combined = pd.read_csv("combined_data.csv")

In [6]:
# Check df_combined
df_combined.head()

,primary_photo,last_update_date,source,tags,permalink,status,list_date,open_houses,branding,list_price,...,sqft,baths,sub_type,baths_1qtr,garage,stories,beds,type,brand_name,products
0,{'href': 'https://ap.rdcpix.com/07097d34c98a59...,2023-09-19T20:52:50Z,"{'plan_id': None, 'agents': [{'office_name': '...","carport, community_outdoor_space, cul_de_sac, ...",9453-Herbert-Pl_Juneau_AK_99801_M90744-30767,sold,2023-06-29T21:16:25.000000Z,NaN,"[{'name': 'EXP Realty LLC - Southeast Alaska',...",554950.0,...,1821.0,2.0,NaN,NaN,1.0,NaN,3.0,single_family,basic_opt_in,NaN
1,NaN,NaN,NaN,NaN,8477-Thunder-Mountain-Rd_Juneau_AK_99801_M9424...,sold,NaN,NaN,"[{'name': None, 'photo': None, 'type': 'Office'}]",NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,4515-Glacier-Hwy_Juneau_AK_99801_M94790-68516,sold,NaN,NaN,"[{'name': None, 'photo': None, 'type': 'Office'}]",NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,17850-Point-Stephens-Rd_Juneau_AK_99801_M98793...,sold,NaN,NaN,"[{'name': None, 'photo': None, 'type': 'Office'}]",NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,9951-Stephen-Richards-Memorial-Dr_Juneau_AK_99...,sold,NaN,NaN,"[{'name': None, 'photo': None, 'type': 'Office'}]",NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [8]:
df_combined.describe()

,open_houses,list_price,property_id,listing_id,price_reduced_amount,year_built,baths_3qtr,sold_price,baths_full,name,baths_half,lot_sqft,sqft,baths,baths_1qtr,garage,stories,beds,products
count,0.0,7.721000e+03,8.159000e+03,7.752000e+03,2.484000e+03,7316.000000,566.000000,6.716000e+03,7311.000000,0.0,2281.000000,6.991000e+03,7323.000000,7980.000000,0.0,4448.000000,6260.000000,7504.000000,0.0
mean,NaN,4.341582e+05,5.755508e+09,2.957819e+09,2.442704e+04,1968.916074,1.247350,4.126050e+05,1.887430,NaN,1.105655,2.510949e+05,1933.848559,2.131203,NaN,1.926709,1.567732,3.208289,NaN
std,NaN,5.514925e+05,2.687366e+09,7.541620e+07,7.162396e+04,35.096914,0.463482,6.994308e+05,0.862214,NaN,0.413340,5.823820e+06,1339.039206,1.175940,NaN,0.878766,0.730969,1.282732,NaN
min,NaN,1.000000e+00,1.003443e+09,6.052327e+08,1.000000e+02,1828.000000,1.000000,3.080000e+02,1.000000,NaN,1.000000,0.000000e+00,120.000000,0.000000,NaN,1.000000,1.000000,0.000000,NaN
25%,NaN,2.090000e+05,3.307743e+09,2.959499e+09,6.000000e+03,1950.000000,1.000000,1.910000e+05,1.000000,NaN,1.000000,4.953000e+03,1258.000000,1.000000,NaN,1.000000,1.000000,3.000000,NaN
50%,NaN,3.250000e+05,6.000993e+09,2.960836e+09,1.010000e+04,1975.000000,1.000000,3.140000e+05,2.000000,NaN,1.000000,7.841000e+03,1635.000000,2.000000,NaN,2.000000,1.000000,3.000000,NaN
75%,NaN,4.999000e+05,8.169927e+09,2.961805e+09,2.000000e+04,1997.000000,1.000000,4.700000e+05,2.000000,NaN,1.000000,1.263200e+04,2264.000000,3.000000,NaN,2.000000,2.000000,4.000000,NaN
max,NaN,1.250000e+07,9.993679e+09,2.963230e+09,2.015999e+06,2024.000000,3.000000,2.706500e+07,8.000000,NaN,5.000000,1.676624e+08,32106.000000,9.000000,NaN,11.000000,10.000000,12.000000,NaN

In [10]:
df_combined.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8159 entries, 0 to 8158
Data columns (total 38 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   primary_photo         7403 non-null   object
 1   last_update_date      8125 non-null   object
 2   source                7752 non-null   object
 3   tags                  7638 non-null   object
 4   permalink             8159 non-null   object
 5   status                8159 non-null   object
 6   list_date             7752 non-null   object
 7   open_houses           0 non-null      float64
 8   branding              8159 non-null   object
 9   list_price            7721 non-null   float64
 10  lead_attributes       8159 non-null   object
 11  property_id           8159 non-null   int64
 12  photos                7403 non-null   object
 13  flags                 8159 non-null   object
 14  community             5 non-null      object
 15  virtual_tours         1351 non-null   object
 16  other_listings        7856 non-null   object
 17  listing_id            7752 non-null   float64
 18  price_reduced_amount  2484 non-null   float64
 19  matterport            8159 non-null   bool
 20  year_built            7316 non-null   float64
 21  baths_3qtr            566 non-null    float64
 22  sold_date             8159 non-null   object
 23  sold_price            6716 non-null   float64
 24  baths_full            7311 non-null   float64
 25  name                  0 non-null      float64
 26  baths_half            2281 non-null   float64
 27  lot_sqft              6991 non-null   float64
 28  sqft                  7323 non-null   float64
 29  baths                 7980 non-null   float64
 30  sub_type              1427 non-null   object
 31  baths_1qtr            0 non-null      float64
 32  garage                4448 non-null   float64
 33  stories               6260 non-null   float64
 34  beds                  7504 non-null   float64
 35  type                  8125 non-null   object
 36  brand_name            7673 non-null   object
 37  products              0 non-null      float64
dtypes: bool(1), float64(18), int64(1), object(18)
memory usage: 2.3+ MB

In [12]:
df_combined.dtypes

#Create a list of categorical variables
categorical = df_combined.select_dtypes(include=['object']).columns

#Create a list of numerical variables
numerical = df_combined.select_dtypes(exclude=['object']).columns

print(categorical)
print(numerical)

Index(['primary_photo', 'last_update_date', 'source', 'tags', 'permalink',
       'status', 'list_date', 'branding', 'lead_attributes', 'photos', 'flags',
       'community', 'virtual_tours', 'other_listings', 'sold_date', 'sub_type',
       'type', 'brand_name'],
      dtype='object')
Index(['open_houses', 'list_price', 'property_id', 'listing_id',
       'price_reduced_amount', 'matterport', 'year_built', 'baths_3qtr',
       'sold_price', 'baths_full', 'name', 'baths_half', 'lot_sqft', 'sqft',
       'baths', 'baths_1qtr', 'garage', 'stories', 'beds', 'products'],
      dtype='object')

In [14]:
df_combined['community'].value_counts()

community
{'advertisers': [{'office': {'hours': 'Monday - Saturday 10:00 AM - 5:00 PM Sunday 12:00 PM - 5:00 PM', 'phones': [{'number': '(515) 420-1609', 'type': 'Office'}]}}], 'description': {'name': 'Woods of Copper Creek'}}    5
Name: count, dtype: int64

In [20]:
df_combined['permalink'].head()

0         9453-Herbert-Pl_Juneau_AK_99801_M90744-30767
1    8477-Thunder-Mountain-Rd_Juneau_AK_99801_M9424...
2        4515-Glacier-Hwy_Juneau_AK_99801_M94790-68516
3    17850-Point-Stephens-Rd_Juneau_AK_99801_M98793...
4    9951-Stephen-Richards-Memorial-Dr_Juneau_AK_99...
Name: permalink, dtype: object

In [22]:
# Columns to drop
columns_to_drop = ['last_update_date','branding','flags','open_houses','status','lead_attributes' ,'property_id', 'photos', 'listing_id','other_listings', 'community', 'products',
       'virtual_tours',]

# Drop the unneeded columns
df_dropped = df_combined.drop(columns=columns_to_drop)

In [24]:
df_dropped.head()

,primary_photo,source,tags,permalink,list_date,list_price,price_reduced_amount,matterport,year_built,baths_3qtr,...,lot_sqft,sqft,baths,sub_type,baths_1qtr,garage,stories,beds,type,brand_name
0,{'href': 'https://ap.rdcpix.com/07097d34c98a59...,"{'plan_id': None, 'agents': [{'office_name': '...","carport, community_outdoor_space, cul_de_sac, ...",9453-Herbert-Pl_Juneau_AK_99801_M90744-30767,2023-06-29T21:16:25.000000Z,554950.0,45000.0,False,1963.0,NaN,...,10454.0,1821.0,2.0,NaN,NaN,1.0,NaN,3.0,single_family,basic_opt_in
1,NaN,NaN,NaN,8477-Thunder-Mountain-Rd_Juneau_AK_99801_M9424...,NaN,NaN,NaN,False,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,4515-Glacier-Hwy_Juneau_AK_99801_M94790-68516,NaN,NaN,NaN,False,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,17850-Point-Stephens-Rd_Juneau_AK_99801_M98793...,NaN,NaN,NaN,False,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,9951-Stephen-Richards-Memorial-Dr_Juneau_AK_99...,NaN,NaN,NaN,False,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [26]:
# Encode Tags on df_dropped
df_encoded = encode_tags(df_dropped)

df_encoded.head()

,primary_photo,source,permalink,list_date,list_price,price_reduced_amount,matterport,year_built,baths_3qtr,sold_date,...,views,volleyball,washer_dryer,water_view,waterfront,well_water,white_kitchen,wine_cellar,wooded_land,wrap_around_porch
0,{'href': 'https://ap.rdcpix.com/07097d34c98a59...,"{'plan_id': None, 'agents': [{'office_name': '...",9453-Herbert-Pl_Juneau_AK_99801_M90744-30767,2023-06-29T21:16:25.000000Z,554950.0,45000.0,False,1963.0,NaN,2023-09-18,...,0,0,0,0,0,0,0,0,0,0
1,NaN,NaN,8477-Thunder-Mountain-Rd_Juneau_AK_99801_M9424...,NaN,NaN,NaN,False,NaN,NaN,2023-08-22,...,0,0,0,0,0,0,0,0,0,0
2,NaN,NaN,4515-Glacier-Hwy_Juneau_AK_99801_M94790-68516,NaN,NaN,NaN,False,NaN,NaN,2023-08-22,...,0,0,0,0,0,0,0,0,0,0
3,NaN,NaN,17850-Point-Stephens-Rd_Juneau_AK_99801_M98793...,NaN,NaN,NaN,False,NaN,NaN,2023-08-21,...,0,0,0,0,0,0,0,0,0,0
4,NaN,NaN,9951-Stephen-Richards-Memorial-Dr_Juneau_AK_99...,NaN,NaN,NaN,False,NaN,NaN,2023-08-21,...,0,0,0,0,0,0,0,0,0,0

In [28]:
# Encode Primary Photo on df_encoded
df_encoded = encode_primary_photo(df_encoded)

df_encoded.head()

,source,permalink,list_date,list_price,price_reduced_amount,matterport,year_built,baths_3qtr,sold_date,sold_price,...,volleyball,washer_dryer,water_view,waterfront,well_water,white_kitchen,wine_cellar,wooded_land,wrap_around_porch,has_primary_photo
0,"{'plan_id': None, 'agents': [{'office_name': '...",9453-Herbert-Pl_Juneau_AK_99801_M90744-30767,2023-06-29T21:16:25.000000Z,554950.0,45000.0,False,1963.0,NaN,2023-09-18,NaN,...,0,0,0,0,0,0,0,0,0,False
1,NaN,8477-Thunder-Mountain-Rd_Juneau_AK_99801_M9424...,NaN,NaN,NaN,False,NaN,NaN,2023-08-22,NaN,...,0,0,0,0,0,0,0,0,0,False
2,NaN,4515-Glacier-Hwy_Juneau_AK_99801_M94790-68516,NaN,NaN,NaN,False,NaN,NaN,2023-08-22,NaN,...,0,0,0,0,0,0,0,0,0,False
3,NaN,17850-Point-Stephens-Rd_Juneau_AK_99801_M98793...,NaN,NaN,NaN,False,NaN,NaN,2023-08-21,NaN,...,0,0,0,0,0,0,0,0,0,False
4,NaN,9951-Stephen-Richards-Memorial-Dr_Juneau_AK_99...,NaN,NaN,NaN,False,NaN,NaN,2023-08-21,NaN,...,0,0,0,0,0,0,0,0,0,False

In [30]:
# Run encode_source function
df_encoded = encode_source(df_encoded)

df_encoded.head()

,permalink,list_date,list_price,price_reduced_amount,matterport,year_built,baths_3qtr,sold_date,sold_price,baths_full,...,water_view,waterfront,well_water,white_kitchen,wine_cellar,wooded_land,wrap_around_porch,has_primary_photo,agent,mls
0,9453-Herbert-Pl_Juneau_AK_99801_M90744-30767,2023-06-29T21:16:25.000000Z,554950.0,45000.0,False,1963.0,NaN,2023-09-18,NaN,2.0,...,0,0,0,0,0,0,0,False,1,1
1,8477-Thunder-Mountain-Rd_Juneau_AK_99801_M9424...,NaN,NaN,NaN,False,NaN,NaN,2023-08-22,NaN,NaN,...,0,0,0,0,0,0,0,False,0,0
2,4515-Glacier-Hwy_Juneau_AK_99801_M94790-68516,NaN,NaN,NaN,False,NaN,NaN,2023-08-22,NaN,NaN,...,0,0,0,0,0,0,0,False,0,0
3,17850-Point-Stephens-Rd_Juneau_AK_99801_M98793...,NaN,NaN,NaN,False,NaN,NaN,2023-08-21,NaN,NaN,...,0,0,0,0,0,0,0,False,0,0
4,9951-Stephen-Richards-Memorial-Dr_Juneau_AK_99...,NaN,NaN,NaN,False,NaN,NaN,2023-08-21,NaN,NaN,...,0,0,0,0,0,0,0,False,0,0

In [32]:
# Convert to datetime format
df_encoded['list_date'] = pd.to_datetime(df_encoded['list_date'], errors='coerce')

# Format as MM-DD-YYYY
df_encoded['list_date'] = df_encoded['list_date'].dt.strftime('%m-%d-%Y')

df_encoded.head()

,permalink,list_date,list_price,price_reduced_amount,matterport,year_built,baths_3qtr,sold_date,sold_price,baths_full,...,water_view,waterfront,well_water,white_kitchen,wine_cellar,wooded_land,wrap_around_porch,has_primary_photo,agent,mls
0,9453-Herbert-Pl_Juneau_AK_99801_M90744-30767,06-29-2023,554950.0,45000.0,False,1963.0,NaN,2023-09-18,NaN,2.0,...,0,0,0,0,0,0,0,False,1,1
1,8477-Thunder-Mountain-Rd_Juneau_AK_99801_M9424...,NaN,NaN,NaN,False,NaN,NaN,2023-08-22,NaN,NaN,...,0,0,0,0,0,0,0,False,0,0
2,4515-Glacier-Hwy_Juneau_AK_99801_M94790-68516,NaN,NaN,NaN,False,NaN,NaN,2023-08-22,NaN,NaN,...,0,0,0,0,0,0,0,False,0,0
3,17850-Point-Stephens-Rd_Juneau_AK_99801_M98793...,NaN,NaN,NaN,False,NaN,NaN,2023-08-21,NaN,NaN,...,0,0,0,0,0,0,0,False,0,0
4,9951-Stephen-Richards-Memorial-Dr_Juneau_AK_99...,NaN,NaN,NaN,False,NaN,NaN,2023-08-21,NaN,NaN,...,0,0,0,0,0,0,0,False,0,0

In [34]:
df_encoded['permalink'].head()

0         9453-Herbert-Pl_Juneau_AK_99801_M90744-30767
1    8477-Thunder-Mountain-Rd_Juneau_AK_99801_M9424...
2        4515-Glacier-Hwy_Juneau_AK_99801_M94790-68516
3    17850-Point-Stephens-Rd_Juneau_AK_99801_M98793...
4    9951-Stephen-Richards-Memorial-Dr_Juneau_AK_99...
Name: permalink, dtype: object

In [36]:
# Run extract_city_state function
df_encoded = extract_city_state(df_encoded)

df_encoded[['city','state']].head(-40)

            city state
0         Juneau    AK
1         Juneau    AK
2         Juneau    AK
3         Juneau    AK
4         Juneau    AK
...          ...   ...
8114  Charleston    WV
8115  Charleston    WV
8116  Charleston    WV
8117  Charleston    WV
8118  Charleston    WV

[8119 rows x 2 columns]

In [38]:
# Save a copy of df_encoded csv
df_encoded.to_csv("encoded_data.csv", index=False)

## Data Cleaning and Wrangling

At this point, ensure that you have all sales in a dataframe.
- Take a quick look at your data (i.e. `.info()`, `.describe()`) - what do you see?
- Is each cell one value, or do some cells have lists?
- What are the data types of each column?
- Some sales may not actually include the sale price (target).  These rows should be dropped.
- There are a lot of NA/None values.  Should these be dropped or replaced with something?
    - You can drop rows or use various methods to fills NA's - use your best judgement for each column 
    - i.e. for some columns (like Garage), NA probably just means no Garage, so 0
- Drop columns that aren't needed
    - Don't keep the list price because it will be too close to the sale price. Assume we want to predict the price of houses not yet listed

In [ ]:
# load and concatenate data here
# drop or replace values as necessary

### Dealing with Tags

Consider the fact that with tags, there are a lot of categorical variables.
- How many columns would we have if we OHE tags, city and state?
- Perhaps we can get rid of tags that have a low frequency.

In [ ]:
# OHE categorical variables/ tags here
# tags will have to be done manually

### Dealing with Cities

- Sales will vary drastically between cities and states.  Is there a way to keep information about which city it is without OHE?
- Could we label encode or ordinal encode?  Yes, but this may have undesirable effects, giving nominal data ordinal values.
- What we can do is use our training data to encode the mean sale price by city as a feature (a.k.a. Target Encoding)
    - We can do this as long as we ONLY use the training data - we're using the available data to give us a 'starting guess' of the price for each city, without needing to encode city explicitly
- If you replace cities or states with numerical values (like the mean price), make sure that the data is split so that we don't leak data into the training selection. This is a great time to train test split. Compute on the training data, and join these values to the test data
- Note that you *may* have cities in the test set that are not in the training set. You don't want these to be NA, so maybe you can fill them with the overall mean

In [ ]:
# perform train test split here
# do something with state and city

## Extra Data - STRETCH

> This doesn't need to be part of your Minimum Viable Product (MVP). We recommend you write a functional, basic pipeline first, then circle back and join new data if you have time

> If you do this, try to write your downstream steps in a way it will still work on a dataframe with different features!

- You're not limited to just using the data provided to you. Think/ do some research about other features that might be useful to predict housing prices. 
- Can you import and join this data? Make sure you do any necessary preprocessing and make sure it is joined correctly.
- Example suggestion: could mortgage interest rates in the year of the listing affect the price?

In [ ]:
# import, join and preprocess new data here

## EDA/ Visualization

Remember all of the EDA that you've been learning about?  Now is a perfect time for it!
- Look at distributions of numerical variables to see the shape of the data and detect outliers.    
    - Consider transforming very skewed variables
- Scatterplots of a numerical variable and the target go a long way to show correlations.
- A heatmap will help detect highly correlated features, and we don't want these.
    - You may have too many features to do this, in which case you can simply compute the most correlated feature-pairs and list them
- Is there any overlap in any of the features? (redundant information, like number of this or that room...)

In [ ]:
# perform EDA here

## Scaling and Finishing Up

Now is a great time to scale the data and save it once it's preprocessed.
- You can save it in your data folder, but you may want to make a new `processed/` subfolder to keep it organized